body{
  padding-top: 50px;
}

footer {
  padding: 50px;
}

.instagram-pic {
  position: relative;
  padding: 10px;
  overflow: hidden;
}

.instagram-pic img {
  padding: 5px;
  border-radius: 2px;
  box-shadow: 0 0 5px rbga(0,0,0,0.5);
}

.instagram-bar {

  position: absolute;
  bottom: 30px;
  width: 100%;
  left: 0;
  padding-left: 30px;
  padding-right: 30px;
  color: #e2e2e2;
}

.instagram-bar span {
  margin-right: 5px;
}

.instagram-bar .like {
  float: left;
}

.instagram-bar .comments {
  float: right;
}

#menu {
  text-align: center;
}
#menu ul {
  display: inline-block;
  list-style-type: none;
  margin: 0;
  padding: 2px;
  overflow: hidden;
  }
#menu li {
  float: left;
}
#menu {
  text-align: right;
}
#menu a:link, a:visited {
  font-family: 'Segoe UI', Frutiger, 'Frutiger Linotype', fantasy, 'Dejavu Sans', 'Helvetica Neue', Arial, sans-serif;
	font-size: 23px;
	font-style: normal;
	font-variant: small-caps;
	font-weight: 400;
	line-height: 23px;
  border-radius: 20px;
  display: inline-block;
  width: 140px;
  text-align: center;
  color: #e2e2e2;
  padding: 8px;
  text-decoration: none;
}
#menu a:hover, a:active{
  background-color: black;
}
#space {
  height: 20px;
  width:100%;
}
div#header {
  poition: fixed;
  top:0px;
  left:0px;
  width:100%;
  padding:0px;
  margin 0;
  background: linear-gradient(black, grey);
  box-shadow: 2px 3px 5px rgba(100, 100, 100, 0.75);
}
body{
  margin: 0;
  background: #F0F0F0;
}
#grid {
  background: linear-gradient(#e2e2e2,white);
  width:980px;
  height: 850px;
  margin: auto;
  border-radius: 20px;
  border-top:20px;
  box-shadow: 3px 3px 5px rgba(100,100,100,0.5);
  transform: translate(-50%, -50%);
  top:50%;
  left: 50%;
  position:fixed;
}
