<meta charset="utf-8">
<title>Photo Application</title>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.5/cyborg/bootstrap.min.css">
<link rel="stylesheet" href="http://209.95.48.196/nodetest/views/public/css/style.css">
