<div id="header">
      <!--Menu div to hold global nav-->
      <div id= "menu">
        <ul>
          <li><a href="welcome.html">Welcome</a></li>
          <li><a href="dashboard.html">Dashboard</a></li>
          <li><a href="my_profile.html">Profile</a></li>
          <li><a href="advanced_search.html">Search</a></li>
        </ul>
      </div>
      <!--End of menu bar div-->
  </div>
  <!--End of header div-->
