<html>
<head>
  <% include ../pages/head %>
  <% include ../pages/header %>
  <title>"Dashboard"</title>
</head>

<body class ="container">
  <main>
    <div class="container">
      <div id="grid">


           <img src="<%= gram.images.standard_resolution.url %>" class= "img-responsive">

      </div>
    </div>
  </main>
</body>
</html>
