<html>
<head>
  <% include ../pages/head %>
  <title>"Template Title"</title>
</head>
<head>
    <% include ../pages/header %>
</head>
<body class ="container">


  <main>
<div class="container">
  <a href="https://api.instagram.com/oauth/authorize/?client_id=f81f407862d44b03a130dfb1c020c5ff&redirect_uri=http://209.95.48.196/nodetest/views/public/pages/index.ejs&response_type=code">Click here test</a>
</div>
  </main>

  <footer>

      <% include ../pages/footer %>

  </footer>
</body>
</html>
